# concatenate (concat)

In [1]:
# 임포트 판다스

import pandas as pd
from pandas import DataFrame, Series

## 엑셀파일 불러오기

In [2]:
!pwd

/Users/bk/Dropbox/로제타스톤

In [3]:
file1 = '/Users/bk/Desktop/Desktop1.xlsx'
file2 = '/Users/bk/Desktop/Desktop2.xlsx'

In [8]:
# 방법1
df1 = pd.read_excel('/Users/bk/Desktop/Desktop1.xlsx')
df1.shape

(1288, 108)

In [4]:
# 방법2
df1 = pd.read_excel(file1)

In [5]:
df1.head(3)

,row ID,기준년도,사업목적분류,사업명,프로그램코드,단위사업코드,세부사업코드,사업부처코드,사업부처,연구개발재원,...,사업화성과건수,중복건수.x,당해년도매출평균,고용창출인원평균,연구분야대분류,연구분야중분류,번호,중복건수.y,정부투자연구비평균,연구개발성격구분(신)
0,Row125362,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125363,1,10100000000,NaN
1,Row125363,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125364,1,682000000,NaN
2,Row125364,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125365,1,391000000,NaN

In [7]:
df1.shape

(1288, 108)

In [6]:
df2 = pd.read_excel(file2)
df2.shape

(14367, 108)

In [9]:
df2.head(3)

,row ID,기준년도,사업목적분류,사업명,프로그램코드,단위사업코드,세부사업코드,사업부처코드,사업부처,연구개발재원,...,사업화성과건수,중복건수.x,당해년도매출평균,고용창출인원평균,연구분야대분류,연구분야중분류,번호,중복건수.y,정부투자연구비평균,연구개발성격구분(신)
0,Row252546,2010,-,공공복지안전연구사업,-,-,-,N15,교육과학기술부,일반회계,...,NaN,NaN,NaN,NaN,G0,G05,252547,1,150000000.0,1아이디어개발
1,Row252547,2010,-,공공복지안전연구사업,-,-,-,N15,교육과학기술부,일반회계,...,NaN,NaN,NaN,NaN,E0,E02,252548,1,80600000.0,1아이디어개발
2,Row252548,2010,-,공공복지안전연구사업,-,-,-,N15,교육과학기술부,일반회계,...,NaN,NaN,NaN,NaN,G0,G05,252549,1,104000000.0,1아이디어개발

## concat

합친데이타프레임 = pd.concat( [ 데이타프레임1, 데이타프레임2, ...... ])

In [12]:
a1 = df1.columns

In [13]:
a2 = df2.columns

In [17]:
sum((a1 == a2))

108

In [18]:
df1.shape[0] + df2.shape[0]

15655

In [19]:
df3 = pd.concat([df1,df2])
df3.shape

(15655, 108)

In [20]:
df3.head(3)

,row ID,기준년도,사업목적분류,사업명,프로그램코드,단위사업코드,세부사업코드,사업부처코드,사업부처,연구개발재원,...,사업화성과건수,중복건수.x,당해년도매출평균,고용창출인원평균,연구분야대분류,연구분야중분류,번호,중복건수.y,정부투자연구비평균,연구개발성격구분(신)
0,Row125362,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125363,1,1.010000e+10,NaN
1,Row125363,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125364,1,6.820000e+08,NaN
2,Row125364,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125365,1,3.910000e+08,NaN

In [22]:
#help(pd.concat)

## 튜플, 리스트

In [34]:
a=1
print(a)

1

In [23]:
# tuple : 변경불가능, 콘테이너 타입
# list  : 변경가능, 콘테이너 타입

In [36]:
a = (1,) + ('apple','banana',)
a

(1, 'apple', 'banana')

In [39]:
b = a + ('한국',)
b

(1, 'apple', 'banana', '한국')

In [27]:
type(a)

tuple

In [28]:
b = [1]
type(b)

list

In [29]:
b.append('a')
b

[1, 'a']

In [30]:
b.append('apple')

In [40]:
a = [ df1,df2 ]
type(a)

list

In [42]:
a[0].head(1)

,row ID,기준년도,사업목적분류,사업명,프로그램코드,단위사업코드,세부사업코드,사업부처코드,사업부처,연구개발재원,...,사업화성과건수,중복건수.x,당해년도매출평균,고용창출인원평균,연구분야대분류,연구분야중분류,번호,중복건수.y,정부투자연구비평균,연구개발성격구분(신)
0,Row125362,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125363,1,10100000000,NaN

In [43]:
a[1].head(1)

,row ID,기준년도,사업목적분류,사업명,프로그램코드,단위사업코드,세부사업코드,사업부처코드,사업부처,연구개발재원,...,사업화성과건수,중복건수.x,당해년도매출평균,고용창출인원평균,연구분야대분류,연구분야중분류,번호,중복건수.y,정부투자연구비평균,연구개발성격구분(신)
0,Row252546,2010,-,공공복지안전연구사업,-,-,-,N15,교육과학기술부,일반회계,...,NaN,NaN,NaN,NaN,G0,G05,252547,1,150000000.0,1아이디어개발

In [55]:
# 개수를 보여달라. 1개만 보여달라. 즉, 인덱스 0번째의 값
aa = df1.head(3)

In [57]:
type(aa)

pandas.core.frame.DataFrame

In [54]:
help(df1.head)

Help on method head in module pandas.core.generic:

head(n: int = 5) -> ~FrameOrSeries method of pandas.core.frame.DataFrame instance
    Return the first `n` rows.

    This function returns the first `n` rows for the object based
    on position. It is useful for quickly testing if your object
    has the right type of data in it.

    For negative values of `n`, this function returns all rows except
    the last `n` rows, equivalent to ``df[:-n]``.

    Parameters
    ----------
    n : int, default 5
        Number of rows to select.

    Returns
    -------
    same type as caller
        The first `n` rows of the caller object.

    See Also
    --------
    DataFrame.tail: Returns the last `n` rows.

    Examples
    --------
    >>> df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
    ...                    'monkey', 'parrot', 'shark', 'whale', 'zebra']})
    >>> df
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey
    5     parrot
    6      shark
    7      whale
    8      zebra

    Viewing the first 5 lines

    >>> df.head()
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey

    Viewing the first `n` lines (three in this case)

    >>> df.head(3)
          animal
    0  alligator
    1        bee
    2     falcon

    For negative values of `n`

    >>> df.head(-3)
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey
    5     parrot

In [52]:
df1.loc[0,:]

row ID              Row125362
기준년도                     2007
사업목적분류                      -
사업명            국제핵융합실험로공동개발사업
프로그램코드               2.01E+15
                    ...
연구분야중분류                    P8
번호                     125363
중복건수.y                      1
정부투자연구비평균         10100000000
연구개발성격구분(신)               NaN
Name: 0, Length: 108, dtype: object

In [50]:
a1 = df1.values.tolist()

for i in range(10):
    print(a1[0][i])

Row125362
2007
-
국제핵융합실험로공동개발사업
2.01E+15
2.01E+15
-
21
과학기술부
-