# Reference Row Filter

- 참조조건에 따라서 데이터를 필터링하는 방법
- 참조조건은 여러개의 조건을 설정할 수 있음

In [1]:
# 임포트 판다스

import pandas as pd
from pandas import DataFrame, Series

## 엑셀파일 불러오기

In [9]:
import time

#filename = '예제.csv'
filename = "/Users/bk/Downloads/200210 projects_commercial_mean(사업화내용제외).txt"

In [11]:
t1 = time.time()
df = pd.read_csv(filename, sep='\t', engine='python', encoding='cp949')
#df = pd.read_table(filename, sep=',', encoding='cp949')
df.head(3)

t2 = time.time() - t1

print(f"{t2:.2f} seconds have passed")
#70.31 seconds have passed (note book ... )
# 예제.csv 파일 불러오기 : 13.42 seconds have passed
# 200210 projects_commercial_mean(사업화내용제외).txt .. 52.70 seconds have passed

52.70 seconds have passed

In [12]:
df.head(3)

,기준년도,사업목적분류,사업명,프로그램코드,단위사업코드,세부사업코드,사업부처코드,사업부처,연구개발재원,계속과제여부구분,...,당해년도매출액,사업화성과건수,중복건수.x,당해년도매출평균,고용창출인원평균,연구분야대분류,연구분야중분류,번호,중복건수.y,정부투자연구비평균
0,2003.0,-,9개지역산업진흥(지연전용R&D),2.30E+15,2.30E+15,-,38,산업자원부,-,-,...,NaN,NaN,NaN,NaN,NaN,F,F,1,1,100000000.0
1,2003.0,-,9개지역산업진흥(지연전용R&D),2.30E+15,2.30E+15,-,38,산업자원부,-,-,...,NaN,NaN,NaN,NaN,NaN,I,I,2,1,90000000.0
2,2003.0,-,9개지역산업진흥(지연전용R&D),2.30E+15,2.30E+15,-,38,산업자원부,-,-,...,NaN,NaN,NaN,NaN,NaN,I,I,3,1,70000000.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871344 entries, 0 to 871343
Columns: 106 entries, 기준년도 to 정부투자연구비평균
dtypes: float64(34), int64(11), object(61)
memory usage: 704.7+ MB

## 조건이 하나일때

In [39]:
col1 = "부처자제분류_대분류" # 원테이터가 오타있음 : 자제, 자체(x)
condition1 = "원천기술개발사업"

In [40]:
con1 = df["부처자제분류_대분류"]==condition1
con1

0         False
1         False
2         False
3         False
4         False
          ...
871339    False
871340    False
871341    False
871342    False
871343    False
Name: 부처자제분류_대분류, Length: 871344, dtype: bool

In [41]:
df[con1].shape

(14367, 106)

## 조건이 여러개 일 경우

In [50]:
con2 = df["부처자제분류_대분류"]== '-'

In [51]:
con3 = df['부처자제분류_대분류']=='바이오ㆍ의료'

In [53]:
df[con1 | con2 | con3].shape

(441969, 106)

In [55]:
df["부처자제분류_대분류"].value_counts().to_csv('1.txt')