# Cell Replacer

In [1]:
# 임포트 판다스


import time

import pandas as pd
from pandas import DataFrame, Series

## 텍스트 파일 불러오기

- 팁 : 시간 계산 방법

In [2]:
#filename = '예제.csv'
filename = "/Users/bk/Downloads/200210 projects_commercial_mean(사업화내용제외).txt"

In [3]:
t1 = time.time()
df = pd.read_csv(filename, sep='\t', engine='python', encoding='cp949')
#df = pd.read_table(filename, sep=',', encoding='cp949')
df.head(3)

t2 = time.time() - t1

print(f"{t2:.2f} seconds have passed")
#70.31 seconds have passed (note book ... )

53.96 seconds have passed

In [7]:
df.columns

Index(['기준년도', '사업목적분류', '사업명', '프로그램코드', '단위사업코드', '세부사업코드', '사업부처코드', '사업부처',
       '연구개발재원', '계속과제여부구분',
       ...
       '당해년도매출액', '사업화성과건수', '중복건수.x', '당해년도매출평균', '고용창출인원평균', '연구분야대분류',
       '연구분야중분류', '번호', '중복건수.y', '정부투자연구비평균'],
      dtype='object', length=106)

In [9]:
df['연구개발성격구분'].value_counts()

-             323781
기타개발          284333
제품 또는 공정개발    144802
아이디어개발         61866
시작품개발          56562
Name: 연구개발성격구분, dtype: int64

## 특정 필드의 값을 특정 조건에 따라 바꾸는 방법

- 시리즈.map(lambda x : 함수) 방법 이용

In [54]:
# 사전 타입의 객체 생성 
# key, value  쌍(pair)

dic_stage = { '기타개발':'4기타개발', 
        '제품 또는 공정개발':'3제품 또는 공정개발' ,
        '아이디어개발':'2아이디어개발',
        '시작품개발':'1시작품개발',
        '-':'-'}

# type()함수로 객체의 형(type) 알아내기
type(dic_stage)

dict

In [55]:
dic_stage['기타개발']

'4기타개발'

In [56]:
dic_stage.keys()

dict_keys(['기타개발', '제품 또는 공정개발', '아이디어개발', '시작품개발', '-'])

In [57]:
a = 1
b = 'abc'
c = 1.
print(type(a),type(b),type(c))

# int    : int, integer
# float  : float, double
# str   : string

<class 'int'> <class 'str'> <class 'float'>

In [59]:
df['연구개발성격구분(신규)'] = df['연구개발성격구분'].map(lambda x : dic_stage[x])
df['연구개발성격구분(신규)'].head(3)

0    -
1    -
2    -
Name: 연구개발성격구분(신규), dtype: object

In [60]:
df['연구개발성격구분(신규)'].value_counts()

-              323781
4기타개발          284333
3제품 또는 공정개발    144802
2아이디어개발         61866
1시작품개발          56562
Name: 연구개발성격구분(신규), dtype: int64

,기준년도,사업목적분류,사업명,프로그램코드,단위사업코드,세부사업코드,사업부처코드,사업부처,연구개발재원,계속과제여부구분,...,사업화성과건수,중복건수.x,당해년도매출평균,고용창출인원평균,연구분야대분류,연구분야중분류,번호,중복건수.y,정부투자연구비평균,연구개발성격구분(신규)
0,2003.0,-,9개지역산업진흥(지연전용R&D),2.30E+15,2.30E+15,-,38,산업자원부,-,-,...,NaN,NaN,NaN,NaN,F,F,1,1,100000000.0,-
1,2003.0,-,9개지역산업진흥(지연전용R&D),2.30E+15,2.30E+15,-,38,산업자원부,-,-,...,NaN,NaN,NaN,NaN,I,I,2,1,90000000.0,-
2,2003.0,-,9개지역산업진흥(지연전용R&D),2.30E+15,2.30E+15,-,38,산업자원부,-,-,...,NaN,NaN,NaN,NaN,I,I,3,1,70000000.0,-

# 간단한 예제 : map() 이용, 람다함수 표현 방법 익숙해 지기

In [22]:
dfe = DataFrame( [[1,1,],[2,3],[3,4]], columns=['a','b'])
dfe

   a  b
0  1  1
1  2  3
2  3  4

In [41]:
dic2 = {1:'apple', 2:'banana',3:'grape'}
dic2

{1: 'apple', 2: 'banana', 3: 'grape'}

In [42]:
dic2[1]

'apple'

In [43]:
dfe['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [44]:
# 방법1
dfe['c'] = dfe['a'].map(lambda x : dic2[x])
dfe

   a  b       c       d
0  1  1   apple   apple
1  2  3  banana  banana
2  3  4   grape     ***

In [45]:
# 방법2
def trans1(x1, dic_a1):
    if x1 in dic_a1.keys():
        return dic_a1[x1]
    else:
        return None
#방법3   
def trans2(x1, dic_a1):
    return dic_a1.get(x1,'***')

dfe['d'] = dfe['a'].map(lambda x : trans2(x, dic2))
dfe

   a  b       c       d
0  1  1   apple   apple
1  2  3  banana  banana
2  3  4   grape   grape

In [ ]:
- 인덱스 : 위치값, 0,1,2.... n-1
- row index
- column index

In [48]:
a=[[1,2,3]]
a[0]

[1, 2, 3]