# Column Comparator

- 비교 컬럼이 여러개 일때, apply(lambda x : 함수이름(x)) 사용가능함

In [1]:
# 임포트 판다스

import pandas as pd
from pandas import DataFrame, Series

## 엑셀파일 불러오기

In [6]:
df = pd.read_excel('/Users/bk/Desktop/Desktop1.xlsx')

In [7]:
df.head(3)

,row ID,기준년도,사업목적분류,사업명,프로그램코드,단위사업코드,세부사업코드,사업부처코드,사업부처,연구개발재원,...,사업화성과건수,중복건수.x,당해년도매출평균,고용창출인원평균,연구분야대분류,연구분야중분류,번호,중복건수.y,정부투자연구비평균,연구개발성격구분(신)
0,Row125362,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125363,1,10100000000,NaN
1,Row125363,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125364,1,682000000,NaN
2,Row125364,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125365,1,391000000,NaN

In [9]:
for each in df.columns:
    print(each)

row ID
기준년도
사업목적분류
사업명
프로그램코드
단위사업코드
세부사업코드
사업부처코드
사업부처
연구개발재원
계속과제여부구분
이전과제번호
과제번호
과제고유번호
연구수행주체
지역구분
연구분야분류코드1
연구분야분류1
연구분야분류코드2
연구분야분류2
연구분야분류가중치2
연구분야분류코드3
연구분야분류3
연구분야분류가중치3
적용분야분류코드1
적용분야분류1
적용분야분류가중치1
적용분야분류코드2
적용분야분류2
적용분야분류가중치2
적용분야분류코드3
적용분야분류3
적용분야분류가중치3
녹색기술분야분류코드
녹색기술분야분류
기술6T관련코드
국가전략기술
기술수명주기
세부과제성격
보안과제여부
보안과제해제년월
다년도협약구분
당해연도연구기간시작일
당해연도연구기간종료일
과제수행기관코드
과제수행기관
사업자등록번호
부처자제분류_대분류코드
부처자제분류_대분류
부처자제분류_중분류코드
부처자제분류_중분류
부처자제분류_소분류코드
부처자제분류_소분류
실용화대상여부구분
연구개발단계
연구개발성격구분
과제진행상태구분
최종보고서발생여부
과제협약일
조사분석확정여부
사업기간
당해사업예산
집행금액
협약금액
정부투자연구비
인건비현금금액
인건비현물금액
직접비현금금액
직접비현물금액
간접비금액
위탁연구비금액
물건비금액
민간연구비지방정부현금금액
민간연구비지방정부현물금액
민간연구비대학현금금액
민간연구비대학현물금액
민간연구비대기업현금금액
민간연구비대기업현물금액
민간연구비중견기업현금금액
민간연구비중견기업현물금액
민간연구비중소기업현금
민간연구비중소기업현물금액
민간연구비기타현금금액
민간연구비기타현물금액
과제건수
연구분야분류가중치1
성과발생년도
성과ID
사업화명
사업화주체_업체명
사업화주체_사업자등록번호
사업화형태코드
사업화형태
사업화년도
제품명
고용창출인원수
기매출액
당해년도매출액
사업화성과건수
중복건수.x
당해년도매출평균
고용창출인원평균
연구분야대분류
연구분야중분류
번호
중복건수.y
정부투자연구비평균
연구개발성격구분(신)

In [10]:
df[['이전과제번호','과제번호']]

                    이전과제번호                  과제번호
0     RK0-2006-000-00001-0  RK0-2006-000-00001-0
1     RK0-2006-000-00002-0  RK0-2006-000-00002-0
2     RK0-2006-000-00003-0  RK0-2006-000-00003-0
3                        -            2007-06977
4                        -            2007-06979
...                    ...                   ...
1283                     -   2019M3E5D1A02069055
1284                     -   2019M3E5D1A01068875
1285                     -   2019M3E5D1A02069621
1286                     -   2019M3E5D1A02068088
1287                     -   2019M3E5D1A01068997

[1288 rows x 2 columns]

## df[['이전과제번호','과제번호','컬럼3']].apply(lambda x : fun2(x), axis=1)
- axis 조심

In [27]:
def fun1(x):
    
    if x[0] == x[1]:
        return x[0]
    else:
        return None

In [31]:
def fun2(x):
    
    if x[0] == x[1]:
        return True
    else:
        return False

In [32]:
df['과제번호비교결과'] = df[['이전과제번호','과제번호','컬럼3']].apply(lambda x : fun2(x), axis=1)

In [36]:
df.shape

(1288, 109)

In [35]:
df2 = df[df['과제번호비교결과']]
df2.shape

(787, 109)

In [30]:
df

,row ID,기준년도,사업목적분류,사업명,프로그램코드,단위사업코드,세부사업코드,사업부처코드,사업부처,연구개발재원,...,중복건수.x,당해년도매출평균,고용창출인원평균,연구분야대분류,연구분야중분류,번호,중복건수.y,정부투자연구비평균,연구개발성격구분(신),과제번호비교결과
0,Row125362,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,P8,P8,125363,1,10100000000,NaN,RK0-2006-000-00001-0
1,Row125363,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,P8,P8,125364,1,682000000,NaN,RK0-2006-000-00002-0
2,Row125364,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,P8,P8,125365,1,391000000,NaN,RK0-2006-000-00003-0
3,Row125365,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,P8,P8,125366,1,1320000000,NaN,None
4,Row125366,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,P8,P8,125367,1,431000000,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,Row867727,2019,-,"혁신형의사과학자공동연구사업(R&D)(복지부, 과기정통부)",[3000]보,[3031]보,혁신형,P71,과학기술정보통신부,일반회계,...,NaN,NaN,NaN,LC,LC01,867728,1,50000000,4기타개발,None
1284,Row867728,2019,-,"혁신형의사과학자공동연구사업(R&D)(복지부, 과기정통부)",[3000]보,[3031]보,혁신형,P71,과학기술정보통신부,일반회계,...,NaN,NaN,NaN,LC,LC02,867729,1,100000000,4기타개발,None
1285,Row868075,2019,-,"혁신형의사과학자공동연구사업(R&D)(복지부, 과기정통부)",[3000]보,[3031]보,혁신형,P71,과학기술정보통신부,일반회계,...,NaN,NaN,NaN,LC,LC01,868076,1,100000000,4기타개발,None
1286,Row868143,2019,-,"혁신형의사과학자공동연구사업(R&D)(복지부, 과기정통부)",[3000]보,[3031]보,혁신형,P71,과학기술정보통신부,일반회계,...,NaN,NaN,NaN,LC,LC02,868144,1,15625000,4기타개발,None
1287,Row868381,2019,-,"혁신형의사과학자공동연구사업(R&D)(복지부, 과기정통부)",[3000]보,[3031]보,혁신형,P71,과학기술정보통신부,일반회계,...,NaN,NaN,NaN,LC,LC04,868382,1,35722000,4기타개발,None