# Column Resorter

- 컬럼을 원하는대로 배치하는 방법 (2020.5.12)

## 기본

In [1]:
# 임포트 판다스

import pandas as pd
from pandas import DataFrame, Series

In [36]:
df = DataFrame( {'fruit':['apple','banana'], 'a-price':[10,20]})
df

    fruit  a-price
0   apple       10
1  banana       20

In [37]:
names_all = df.columns.tolist()
names_all

['fruit', 'a-price']

In [38]:
names_all2 = sorted(names_all)
names_all2

['a-price', 'fruit']

In [39]:
df[names_all2]

   a-price   fruit
0       10   apple
1       20  banana

#  숙제 : 리스트를 조작하는 함수 

- 입력 : 컬럼명, 번호
- 기능 : 입력한 컬럼명을 지정한 번호에 위치시킨 리스트를 반환하기

In [71]:
def homework1(namelist = [], name='', no=0):
    """
    주석 ......
    
    """
    if name in namelist:
        pass 
    else:
        if len(namelist) > no : 
            namelist.insert(no, name)
        else:
            namelist.append(name)
    
    return namelist

In [72]:
names = ['fruit', 'a-price']

names2 = homework1(names, '연구개발', 0)
names

['연구개발', 'fruit', 'a-price']

## 엑셀파일 불러오기

In [73]:
df = pd.read_excel('/Users/bk/Desktop/Desktop1.xlsx')

In [74]:
df.head(3)

,row ID,기준년도,사업목적분류,사업명,프로그램코드,단위사업코드,세부사업코드,사업부처코드,사업부처,연구개발재원,...,사업화성과건수,중복건수.x,당해년도매출평균,고용창출인원평균,연구분야대분류,연구분야중분류,번호,중복건수.y,정부투자연구비평균,연구개발성격구분(신)
0,Row125362,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125363,1,10100000000,NaN
1,Row125363,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125364,1,682000000,NaN
2,Row125364,2007,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,-,...,NaN,NaN,NaN,NaN,P8,P8,125365,1,391000000,NaN

In [75]:
df.columns

Index(['row ID', '기준년도', '사업목적분류', '사업명', '프로그램코드', '단위사업코드', '세부사업코드',
       '사업부처코드', '사업부처', '연구개발재원',
       ...
       '사업화성과건수', '중복건수.x', '당해년도매출평균', '고용창출인원평균', '연구분야대분류', '연구분야중분류', '번호',
       '중복건수.y', '정부투자연구비평균', '연구개발성격구분(신)'],
      dtype='object', length=108)

In [77]:
#for each in df.columns:
#    print(each)

In [ ]:
'연구개발성격구분(신)'

### 컬럼이름을 리스트로 반환

In [23]:
names = df.columns.tolist()

In [20]:
names.remove('연구개발성격구분(신)')
names.remove('기준년도')
names

['row ID',
 '사업목적분류',
 '사업명',
 '프로그램코드',
 '단위사업코드',
 '세부사업코드',
 '사업부처코드',
 '사업부처',
 '연구개발재원',
 '계속과제여부구분',
 '이전과제번호',
 '과제번호',
 '과제고유번호',
 '연구수행주체',
 '지역구분',
 '연구분야분류코드1',
 '연구분야분류1',
 '연구분야분류코드2',
 '연구분야분류2',
 '연구분야분류가중치2',
 '연구분야분류코드3',
 '연구분야분류3',
 '연구분야분류가중치3',
 '적용분야분류코드1',
 '적용분야분류1',
 '적용분야분류가중치1',
 '적용분야분류코드2',
 '적용분야분류2',
 '적용분야분류가중치2',
 '적용분야분류코드3',
 '적용분야분류3',
 '적용분야분류가중치3',
 '녹색기술분야분류코드',
 '녹색기술분야분류',
 '기술6T관련코드',
 '국가전략기술',
 '기술수명주기',
 '세부과제성격',
 '보안과제여부',
 '보안과제해제년월',
 '다년도협약구분',
 '당해연도연구기간시작일',
 '당해연도연구기간종료일',
 '과제수행기관코드',
 '과제수행기관',
 '사업자등록번호',
 '부처자제분류_대분류코드',
 '부처자제분류_대분류',
 '부처자제분류_중분류코드',
 '부처자제분류_중분류',
 '부처자제분류_소분류코드',
 '부처자제분류_소분류',
 '실용화대상여부구분',
 '연구개발단계',
 '연구개발성격구분',
 '과제진행상태구분',
 '최종보고서발생여부',
 '과제협약일',
 '조사분석확정여부',
 '사업기간',
 '당해사업예산',
 '집행금액',
 '협약금액',
 '정부투자연구비',
 '인건비현금금액',
 '인건비현물금액',
 '직접비현금금액',
 '직접비현물금액',
 '간접비금액',
 '위탁연구비금액',
 '물건비금액',
 '민간연구비지방정부현금금액',
 '민간연구비지방정부현물금액',
 '민간연구비대학현금금액',
 '민간연구비대학현물금액',
 '민간연구비대기업현금금액',
 '민간연구비대기업현물금액',
 '민간연구비중견기업현금금액',
 '민간연구비중견기업현물금액',
 '민간연구비중소기업현금',
 '민간연구비중소기업현물금액',
 '민간연구비기타현금금액',
 '민간연구비기타현물금액',
 '과제건수',
 '연구분야분류가중치1',
 '성과발생년도',
 '성과ID',
 '사업화명',
 '사업화주체_업체명',
 '사업화주체_사업자등록번호',
 '사업화형태코드',
 '사업화형태',
 '사업화년도',
 '제품명',
 '고용창출인원수',
 '기매출액',
 '당해년도매출액',
 '사업화성과건수',
 '중복건수.x',
 '당해년도매출평균',
 '고용창출인원평균',
 '연구분야대분류',
 '연구분야중분류',
 '번호',
 '중복건수.y',
 '정부투자연구비평균']

In [21]:
names2 = ['연구개발성격구분(신)', '기준년도'] + names
names2

['연구개발성격구분(신)',
 '기준년도',
 'row ID',
 '사업목적분류',
 '사업명',
 '프로그램코드',
 '단위사업코드',
 '세부사업코드',
 '사업부처코드',
 '사업부처',
 '연구개발재원',
 '계속과제여부구분',
 '이전과제번호',
 '과제번호',
 '과제고유번호',
 '연구수행주체',
 '지역구분',
 '연구분야분류코드1',
 '연구분야분류1',
 '연구분야분류코드2',
 '연구분야분류2',
 '연구분야분류가중치2',
 '연구분야분류코드3',
 '연구분야분류3',
 '연구분야분류가중치3',
 '적용분야분류코드1',
 '적용분야분류1',
 '적용분야분류가중치1',
 '적용분야분류코드2',
 '적용분야분류2',
 '적용분야분류가중치2',
 '적용분야분류코드3',
 '적용분야분류3',
 '적용분야분류가중치3',
 '녹색기술분야분류코드',
 '녹색기술분야분류',
 '기술6T관련코드',
 '국가전략기술',
 '기술수명주기',
 '세부과제성격',
 '보안과제여부',
 '보안과제해제년월',
 '다년도협약구분',
 '당해연도연구기간시작일',
 '당해연도연구기간종료일',
 '과제수행기관코드',
 '과제수행기관',
 '사업자등록번호',
 '부처자제분류_대분류코드',
 '부처자제분류_대분류',
 '부처자제분류_중분류코드',
 '부처자제분류_중분류',
 '부처자제분류_소분류코드',
 '부처자제분류_소분류',
 '실용화대상여부구분',
 '연구개발단계',
 '연구개발성격구분',
 '과제진행상태구분',
 '최종보고서발생여부',
 '과제협약일',
 '조사분석확정여부',
 '사업기간',
 '당해사업예산',
 '집행금액',
 '협약금액',
 '정부투자연구비',
 '인건비현금금액',
 '인건비현물금액',
 '직접비현금금액',
 '직접비현물금액',
 '간접비금액',
 '위탁연구비금액',
 '물건비금액',
 '민간연구비지방정부현금금액',
 '민간연구비지방정부현물금액',
 '민간연구비대학현금금액',
 '민간연구비대학현물금액',
 '민간연구비대기업현금금액',
 '민간연구비대기업현물금액',
 '민간연구비중견기업현금금액',
 '민간연구비중견기업현물금액',
 '민간연구비중소기업현금',
 '민간연구비중소기업현물금액',
 '민간연구비기타현금금액',
 '민간연구비기타현물금액',
 '과제건수',
 '연구분야분류가중치1',
 '성과발생년도',
 '성과ID',
 '사업화명',
 '사업화주체_업체명',
 '사업화주체_사업자등록번호',
 '사업화형태코드',
 '사업화형태',
 '사업화년도',
 '제품명',
 '고용창출인원수',
 '기매출액',
 '당해년도매출액',
 '사업화성과건수',
 '중복건수.x',
 '당해년도매출평균',
 '고용창출인원평균',
 '연구분야대분류',
 '연구분야중분류',
 '번호',
 '중복건수.y',
 '정부투자연구비평균']

In [22]:
df[names2].head(3)

,연구개발성격구분(신),기준년도,row ID,사업목적분류,사업명,프로그램코드,단위사업코드,세부사업코드,사업부처코드,사업부처,...,당해년도매출액,사업화성과건수,중복건수.x,당해년도매출평균,고용창출인원평균,연구분야대분류,연구분야중분류,번호,중복건수.y,정부투자연구비평균
0,NaN,2007,Row125362,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,...,NaN,NaN,NaN,NaN,NaN,P8,P8,125363,1,10100000000
1,NaN,2007,Row125363,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,...,NaN,NaN,NaN,NaN,NaN,P8,P8,125364,1,682000000
2,NaN,2007,Row125364,-,국제핵융합실험로공동개발사업,2.01E+15,2.01E+15,-,21,과학기술부,...,NaN,NaN,NaN,NaN,NaN,P8,P8,125365,1,391000000

## 질문 : 컬럼명 대신에 넘버 이용하는 방법은 ?

### 방법1

In [45]:
# 임포트 판다스

import pandas as pd
from pandas import DataFrame, Series

df = DataFrame( {'fruit':['apple','banana'], 'a-price':[10,20], 'b-color':['red','yellow']})
df

    fruit  a-price b-color
0   apple       10     red
1  banana       20  yellow

In [48]:
names = df.columns.tolist()
names

['fruit', 'a-price', 'b-color']

In [50]:
df[ [names[0], names[2]] ]

    fruit b-color
0   apple     red
1  banana  yellow

### 방법2

In [53]:
df.iloc[:,1:3]

   a-price b-color
0       10     red
1       20  yellow

# String Replacer

In [80]:
df['연구개발단계'].value_counts()

1기초연구    902
2응용연구    180
3개발연구    169
4기타       37
Name: 연구개발단계, dtype: int64

In [88]:
def trans1(x):
    if x == '1기초연구':
        return '1'
    elif x == '2응용연구':
        return '2'
    elif x == '3개발연구':
        return '3'
    elif x == '4기타':
        return '4'

In [89]:
df['연구개발단계(to_number)'] = df['연구개발단계'].map(lambda x : trans1(x))
df[['연구개발단계(to_number)','연구개발단계']]

     연구개발단계(to_number) 연구개발단계
0                    1  1기초연구
1                    1  1기초연구
2                    1  1기초연구
3                    1  1기초연구
4                    1  1기초연구
...                ...    ...
1283                 4    4기타
1284                 2  2응용연구
1285                 2  2응용연구
1286                 3  3개발연구
1287                 2  2응용연구

[1288 rows x 2 columns]

# String to Number

In [92]:
df['연구개발단계(to_number)'] = df['연구개발단계(to_number)'].astype(int)

In [93]:
df['연구개발단계(to_number)']

0       1
1       1
2       1
3       1
4       1
       ..
1283    4
1284    2
1285    2
1286    3
1287    2
Name: 연구개발단계(to_number), Length: 1288, dtype: int64