# 로제타스톤 프로젝트 : RowFilter

In [42]:
# 임포트 판다스

import pandas as pd
from pandas import DataFrame, Series

## 엑셀파일 불러오기

In [43]:
df = pd.read_excel('Documents2.xlsx')

In [44]:
df.head(3)

,번호,연구분야대분류,연구분야중분류,기준년도,사업부처,연구개발단계,사업화형태,연구수행주체,정부투자연구비합계,지원과제수,사업화성과건수합계,고용창출인원합계,당해년도매출액합계
0,1,EA,EA01,2013,과학기술정보통신부,1기초연구,NaN,기타,1.010000e+08,1,0,0.0,0.0
1,2,EA,EA01,2013,과학기술정보통신부,1기초연구,NaN,대학,4.761042e+09,27,0,0.0,0.0
2,3,EA,EA01,2013,과학기술정보통신부,1기초연구,NaN,출연연구소,6.961235e+10,30,0,0.0,0.0

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56925 entries, 0 to 56924
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   번호         56925 non-null  int64
 1   연구분야대분류    56489 non-null  object
 2   연구분야중분류    56925 non-null  object
 3   기준년도       56925 non-null  int64
 4   사업부처       56925 non-null  object
 5   연구개발단계     56925 non-null  object
 6   사업화형태      10987 non-null  object
 7   연구수행주체     56925 non-null  object
 8   정부투자연구비합계  56925 non-null  float64
 9   지원과제수      56925 non-null  int64
 10  사업화성과건수합계  56925 non-null  int64
 11  고용창출인원합계   56925 non-null  float64
 12  당해년도매출액합계  56925 non-null  float64
dtypes: float64(3), int64(4), object(6)
memory usage: 5.6+ MB

## missing data 처리 
- 자신만의 기준 설정하고 처리하기

In [46]:
df_raw2 = df.dropna(subset=['사업화형태'])
df_raw2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10987 entries, 3 to 56897
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   번호         10987 non-null  int64
 1   연구분야대분류    10972 non-null  object
 2   연구분야중분류    10987 non-null  object
 3   기준년도       10987 non-null  int64
 4   사업부처       10987 non-null  object
 5   연구개발단계     10987 non-null  object
 6   사업화형태      10987 non-null  object
 7   연구수행주체     10987 non-null  object
 8   정부투자연구비합계  10987 non-null  float64
 9   지원과제수      10987 non-null  int64
 10  사업화성과건수합계  10987 non-null  int64
 11  고용창출인원합계   10987 non-null  float64
 12  당해년도매출액합계  10987 non-null  float64
dtypes: float64(3), int64(4), object(6)
memory usage: 1.2+ MB

In [47]:
df_raw2['사업화형태'].value_counts()

기술보유자의 직접사업화_기존업체-상품화     4862
기술보유자의 직접사업화_기존업체-공정개선    1587
기술이전_기존업체-상품화             1568
기술이전_기존업체-공정개선            1323
기술보유자의 직접사업화_창업           1250
기술이전_창업                    397
Name: 사업화형태, dtype: int64

In [48]:
#help(df.dropna)

## 조건에 맞는 데이터 추출

In [49]:
# and, or 논리 연산자 (logic operator)

condition1 = (df_raw2['당해년도매출액합계'] > 0) 
condition2 = (df_raw2['고용창출인원합계']>5 )
condition3 = (df_raw2['지원과제수']>3)

In [50]:
condition1 & condition2

3        False
8        False
9        False
18       False
21       False
         ...
56884    False
56894    False
56895    False
56896    False
56897    False
Length: 10987, dtype: bool

In [51]:
df_raw3 = df_raw2[condition1 & condition2 & condition3]

# Nominal Value Row Filter

In [52]:
condition4 = (df['사업부처'] == '과학기술정보통신부')

In [53]:
df_raw4 = df[condition4]

In [54]:
df_raw4.head(3)

,번호,연구분야대분류,연구분야중분류,기준년도,사업부처,연구개발단계,사업화형태,연구수행주체,정부투자연구비합계,지원과제수,사업화성과건수합계,고용창출인원합계,당해년도매출액합계
0,1,EA,EA01,2013,과학기술정보통신부,1기초연구,NaN,기타,1.010000e+08,1,0,0.0,0.0
1,2,EA,EA01,2013,과학기술정보통신부,1기초연구,NaN,대학,4.761042e+09,27,0,0.0,0.0
2,3,EA,EA01,2013,과학기술정보통신부,1기초연구,NaN,출연연구소,6.961235e+10,30,0,0.0,0.0

In [55]:
df_raw4['사업부처'].value_counts()

과학기술정보통신부    12253
Name: 사업부처, dtype: int64